<modal-dialog-remove
    *ngIf="showModalRemove"
    (remove)="clickRemove($event)">
</modal-dialog-remove>
<modal-dialog-edit
    *ngIf="showModalEdit"
    [textEdit]="textEdit"
    (edit)="clickEdit($event)">
</modal-dialog-edit>
<h1 class="wrapper todo__title">TODO list</h1>
<app-add-item></app-add-item>
<app-items-filters
    (sort)="sortItems($event)" 
    (filter)="filterItems($event)"
    >
</app-items-filters>
<app-item
    (remove)="requestRemove($event)"
    (edit)="requestEdit($event)"
    [id]="item.id"
    [date]="item.date"
    [priority]="item.priority"
    [textAssignment]="item.textAssignment"
    [taskDone]="item.taskDone"
    *ngFor="let item of (items | async) | filterItems:filterExp;  let i = index"
    >
</app-item>
<div class="wrapper">
    <h4 *ngIf="(items | async)?.length === 0">
        Todo list is empty!
    </h4>
</div>    