<modal-dialog-remove
    *ngIf="showModalRemove"
    (remove)="clickDelete($event)">
</modal-dialog-remove>
<modal-dialog-edit
    *ngIf="showModalEdit"
    [textEdit]="textEdit"
    (edit)="clickUpdate($event)">
</modal-dialog-edit>
<h1 class="wrapper todo__title">TODO list</h1>
<app-add-item></app-add-item>
<app-items-filters
    (sort)="sortItems($event)" 
    (filter)="filterItems($event)"
    >
</app-items-filters>
<app-item
    (remove)="requestDelete($event)"
    (edit)="requestUpdate($event)"
    [item] = "item"
    *ngFor="let item of (itemSvc.todos | async) | filterItems:filterExp;  let i = index"
    >
</app-item>
<div class="wrapper">
    <h4 *ngIf="(itemSvc.todos | async)?.length === 0">
        Todo list is empty!
    </h4>
</div>    