<div class="wrapper filter">
    <div class="filter__date">
        <button class="filter__date__btn filter__date__btn_up" (click)="sort.emit(['date',1])"></button>
        <button class="filter__date__btn filter__date__btn_down" (click)="sort.emit(['date',-1])"></button>
    </div>
    <div class="filter__priority">
        <button class="filter__priority__btn filter__priority__btn_up" (click)="sort.emit(['priority',1])"></button>
        <span class="filter__priority__span">123</span>
        <button class="filter__priority__btn filter__priority__btn_down" (click)="sort.emit(['priority',-1])"></button>
    </div>
    <div class="filter__content">
        <textarea name="filterContent" class="filter__content__text" [(ngModel)]="filterContent" ></textarea>
        <div class="filter__content__sort">
            <button type="button" class="filter__content__sort-btn filter__content__sort-btn-up"   (click)="sort.emit(['textAssignment',1])"></button>
            <button type="button" class="filter__content__sort-btn filter__content__sort-btn-down" (click)="sort.emit(['textAssignment',-1])"></button>
        </div>    
    </div>
    <div class="filter__content__select">
        <button type="button" class="filter__content__select-btn" (click)="filterItems()"></button>
        <!-- (click)="filterItems()" -->
    </div>
</div>